<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Research Object Digital Library</display-name>

	<context-param>
		<param-name>connection.properties.filename</param-name>
		<param-value>connection.properties</param-value>
	</context-param>

	<listener>
		<listener-class>pl.psnc.dl.wf4ever.connection.DlibraConnectionConfigurationListener</listener-class>
	</listener>

	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>pl.psnc.dl.wf4ever.hibernate.HibernateSessionRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Jersey Web Application</filter-name>
		<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
			<param-value>/(images|js|styles|(WEB-INF/jsp))/.*</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
			<param-value>/WEB-INF/jsp</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>pl.psnc.dl.wf4ever</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>pl.psnc.dl.wf4ever.auth.SecurityFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>pl.psnc.dl.wf4ever.auth.ResourceCloseFilter</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Jersey Web Application</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
